.height-50 {
  height: 50px;
  color: rgb(69,69,69);
  background: #f5f5f5;
}

.font-size-16 {
  font-size: 16px;
}

.mat-toolbar-ip {
  border: 1px solid #e9ecef;
  background: #f6f9fc;
  color: #8898aa;
}

.color-link {
  color: rgb(0, 70, 82);
}
