.height-50 {
  height: 50px;
  border: 1px solid #d8dbe0;
  background: #fff;
  color: rgba(44, 56, 74, 0.681);
}

.font-size-16 {
  font-size: 16px;
}

.mat-toolbar-app {
  border: 1px solid #d8dbe0;
  background: #fff;
  color: rgba(44, 56, 74, 0.681);
}

.color-link {
  color: rgb(0, 70, 82);
}
