/* You can add global styles to this file, and also import other style files */
@import "src/assets/styles/custom-theme.scss";
$base-color-app: #ffffff!important;

html, body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
.h1, h1 {
  font-size: 3.3125rem;
  line-height: 1.15em;
}
.h2, h2 {
  font-size: 2.25rem;
}
h3, h3 {
  font-size: 1.5625rem;
  line-height: 1.4em;
  margin: 20px 0 10px;
}
.h4, h4 {
  font-size: 1.125rem;
  line-height: 1.4em;
  font-weight: 300;
}
.h5, h5 {
  font-size: 1.0625rem;
  line-height: 1.4em;
  margin-bottom: 15px;
}
.h6, h6 {
  font-size: .75rem;
  text-transform: uppercase;
  font-weight: 500;
}

dl, ol, p, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.color-white {
  color: $base-color-app;
}
ul li {
  list-style-type: none;
}

.cursor-pointer {
  cursor: pointer;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0px!important;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0px!important;
}

input.mat-input-element {
  margin-top: 0.15em;
}

mat-form-field label {
  font-size: 11px!important;
}
.font-size-10 {
  font-size: 10px!important;
}
.font-size-12{
  font-size: 12px!important;
}
.font-size-14{
  font-size: 14px!important;
}
th.mat-header-cell {
  padding-left: 0px!important;
}


mat-nav-list li a {
  font-size: 13px;
}

// BUTTONS
.btn-primary {
  background-color: $accent !important;
  border-color: $accent !important;
}

// TOOLTIPS
.mat-tooltip {
  font-size: 11px !important;
  background-color: $accent;
}
// margin-auto
.ma-auto {
  margin: auto !important;
}

// padding-top
.pt-10 {
  padding-top: 10px;
}

// padding-left
.pl-10 {
  padding-left: 10px;
}

// padding-right
.pr-10 {
  padding-right: 10px;
}

.mat-grid-tile-content {
  display: inline-block!important;
}
.fw-bold {
  font-weight: bold;
}

.color-black{
  color: black;
}

table tr td {
  font-size: 12px!important;
}

.td-color {
  color: #525f7f;
}


table tr td a {
  color: #525f7f;
  font-weight: bolder;
  text-decoration: none;
}

table thead {
  background: #f6f9fc;
}

mat-grid-tile span {
  font-size: 12px!important;
}

.with-250{
  width: 250px;
}

.with-550{
  width: 550px;
}

.height-200{
  height: 200px!important;
}
.with-180{
  width: 180px;
}
.with-120{
  width: 120px;
}

.with-140{
  width: 140px;
}

.with-80{
  width: 80px;
}
.pd-0{
  padding: 0px!important;
}
.pd-10 {
  padding: 10px;
}
.pd-r-5 {
  padding-right: 5px;
}
.mat-icon-copy {
  font-size: 20px;
  vertical-align: inherit;
}

.mat-icon-refresh {
  font-size: 25px;
  vertical-align: inherit;
}

.border-radius-none {
  border-radius: 0 !important;
}
.vertical-align-bt {
  vertical-align: bottom!important;
}

a {
  text-decoration: none;
  color: #8a93a2;
}

.app-warning-bg {
  background: linear-gradient(60deg,#ffa726,#fb8c00);
}
.app-success-bg {
  background:linear-gradient(60deg,#66bb6a,#43a047);
}
.app-danger-bg {
  background: linear-gradient(60deg,#ef5350,#e53935)
}
.app-optional-bg {
  background: linear-gradient(60deg,#ab47bc,#8e24aa)
}
.app-default-bg {
  background: #999;
}
.app-info-bg {
  background: #00bcd4;
}


.app-warning-color-1 {
  color: #ffa726;
}
.app-warning-color-2 {
  color: #fb8c00;
}
.app-success-color-1 {
  color: #66bb6a;
}
.app-success-color-2 {
  color: #43a047;
}
.app-danger-color-1 {
  color: #ef5350;
}
.app-danger-color-2 {
  color: #e53935;
}
.app-optional-color-1 {
  color:#ab47bc;
}
.app-optional-color-2 {
  color:#8e24aa;
}
.app-default-color {
  color: #999;
}
.app-info-color {
  color: #00bcd4;
}
