@import "~src/assets/styles/custom-theme";

.fp-list-group-item {
  position: relative;
  display: block;
  background-color: rgba(0, 0, 0, 0.125);
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-right: none;
  border-top: none;
}

.mat-list-base{
  padding: 0px!important;
}

.menu-link {
  padding: 15px 0 !important;
  height: auto !important;
}

.mat-accordion .mat-expansion-panel{
  border-radius: 0px;
  margin: 0px;
  background: $primary;
}
.mat-expansion-panel-header {
  background: rgba(0, 0, 0, 0.125);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
::ng-deep .expansion-indicator > .mat-expansion-indicator::after {
  color: white;
}
.active {
  background: rgba(255, 255, 255, 0.3);
}
