<mat-nav-list>
  <li class="fp-list-group-item" *ngFor="let item of navbars;let i = index">
    <a  mat-list-item [routerLink]=""  *ngIf="item.path && item.active" routerLinkActive="active" class="menu-link color-white" (click)="redirect(item)">
      <span>{{item.title}}</span>
    </a>
  </li>
</mat-nav-list>
<mat-accordion multi class="fp-list-group-item">
  <mat-expansion-panel *ngFor="let item of navbars;let i = index">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <a  mat-list-item [routerLink]=""  *ngIf="item.path && item.active" routerLinkActive="active" class="menu-link color-white" (click)="redirect(item)">
          <span>{{item.title}}</span>
        </a>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>sous-titre1</p>
    <p>sous-titre2</p>
    <p>sous-titre3</p>
  </mat-expansion-panel>
</mat-accordion>
