@import "~src/assets/styles/custom-theme";

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 260px;
  background-color: $primary;
}
.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

hr {
  margin-bottom: 0px;
  margin-top: 0px;
}

.border-none {
  border: none;
}
.header-bg {
  background: #fff;
  color: rgba(44, 56, 74, 0.681);
}
.dashboard {
  padding-left: 10px;
  font-size: 16px;
}

.mat-icon-custom {
  line-height: initial;
  font-size: 28px;
}
